{% include 'home.html' %}


<div class="card w-25" style="margin: auto; float: none;" >
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <h5 class="card-title">Developer Forum</h5>
      <p class="card-text">Developed an open forum web application using the Django framework and SQLite database, allowing users to sign up, create profiles, and post software-related questions and answers. Responsible for back-end development using Python and Django as well as front-end development using HTML, CSS and Bootstrap.</p>

    </div>
  </div>