{% include 'home.html' %}

<form method="POST"  enctype="multipart/form-data" >
  {% csrf_token %}
  <section class="py-4 my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h1 class="h3 mb-3 font-weight-normal text-center">Update Profile</h1>
              <img src="{{ user.profile.img.url }}" alt="">
              <div class="form-floating mb-3">
                {{ pf.img }}
              
              </div>
              
              <div class="form-floating mb-3">
                {{ pf.des }}
                <label for="description" class="form-label">Description</label>
              </div>
              <div class="form-floating mb-3">
                {{ pf.loc }}
                <label for="location" class="form-label">Location</label>
              </div>
            
              <div class="form-floating mb-3">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" name="dob" id="dob" value="{{ pf.dob.value|default:'' }}" class="form-control" required>
              </div>
              
              <div class="text-center">
                <button class="btn btn-lg btn-primary" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
