{% include 'home.html' %}
<form method="post">
    {% csrf_token %}
       <section class="py-4 my-5">
        <div class="container" >
            <div class="row" >
                <div class="col-md-4 offset-md-4" >
                    <h1 class="h3 mb-3 font-weight-normal">Register | Page</h1><br>
                    <div class="mb-1" >
                        <label for="" class="form-label" >Username</label>
                        {{ form.username}}
                    </div> 
                    <div class="mb-1" >
                        <label for="" class="form-label" >Email</label>
                        {{ form.email}}
                    </div>
                    <div class="mb-1" >
                        <label for="" class="form-label" >Password</label>
                        {{ form.password1}}
                    </div>
                    <div class="mb-1" >
                        <label for="" class="form-label" >Confirm Password</label>
                        {{ form.password2}}
                    </div>
                    <div class="mb-2" >
                    <button type="submit" class="btn btn-primary" >Register</button>
                    <p class="my-2" > <b> Already User? </b> <a href="{% url 'app1:log' %}" class="" >Login</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>
